	<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ピザ屋のネット注文</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/piza.css}" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/top}" href="item_list.html"> <!-- 企業ロゴ --> <img
						alt="main log" src="/img_curry/header_logo.png"  height="35">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<p class="navbar-text navbar-right">
						<a href="cart_list.html" th:href="@{/cart/show}" class="navbar-link">ショッピングカート</a>&nbsp;&nbsp;
						<a href="order_history.html" class="navbar-link">注文履歴</a>&nbsp;&nbsp;
						<a href="login.html" th:href="@{/user}" class="navbar-link">ログイン</a>&nbsp;&nbsp;
						<a href="item_list.html" th:href="@{/top}" class="navbar-link">ログアウト</a>
					</p>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>


		<!-- table -->
		<div class="row">
			<div
				class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
				<h3 class="text-center">ショッピングカート</h3>
				<table class="table table-striped" th:if="${session.order}!=null">
					<tbody>
						<tr>
							<th>
								<div class="text-center">
									商品名
								</div>
							</th>
							<th>
								<div class="text-center">
									サイズ、価格(税抜)、数量
								</div>
							</th>
							<th>
								<div class="text-center">
									トッピング、価格(税抜)
								</div>
							</th>
							<th>
								<div class="text-center">
									小計
								</div>
							</th>
							<th>
							</th>
						</tr>
						<tr th:each="orderItem:${session.order.orderItemList}" th:if="${orderItem.item.name}!=null">
							<td>
								<div class="center">
									<img th:src="@{${'/img_curry/'+orderItem.item.imagePath}}"
										class="img-responsive img-rounded" width="100" height="300"><br>
									<span th:text="${orderItem.item.name}">じゃがバターベーコン</span>
								</div>
							</td>
							<td>
								<span class="price" th:text="${orderItem.size}">&nbsp;&nbsp;Ｌ</span>&nbsp;&nbsp;
								<span th:if="${orderItem.size}=='M'" th:text="${#numbers.formatInteger(orderItem.item.priceM,2,'COMMA')}"></span>
								<span th:if="${orderItem.size}=='L'" th:text="${#numbers.formatInteger(orderItem.item.priceL,2,'COMMA')}"></span>円
								&nbsp;<span th:text="${orderItem.quantity}"></span>個
							</td>
							<td>
								<ul>
									<li th:each="orderTopping : ${orderItem.orderToppingList}">
										<span th:text="${orderTopping.topping.name}"></span>
										<span th:if="${orderItem.size}=='M'" th:text="${orderTopping.topping.priceM}"></span>
										<span th:if="${orderItem.size}=='L'" th:text="${orderTopping.topping.priceL}"></span>円
									</li>
								</ul>
							</td>
							<td>
								&nbsp;&nbsp;<span th:text="${#numbers.formatInteger(orderItem.subTotal,2,'COMMA')}" class="text-center">
									3,280
								</span>円
							</td>
							<td>
								<div class="text-center">
									<button type="submit" class="btn btn-primary">削除</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
					
			</div>
		</div>
					<h4 th:if="${session.order}==null">商品を追加してください</h4>

		<div class="row" th:if="${session.order}!=null">
			<div class="col-xs-offset-2 col-xs-8">
				<div class="form-group text-center" th:if="${session.order.tax}!=0">
					消費税：<span id="total-price" th:text="${#numbers.formatInteger(session.tax,2,'COMMA')}">8,000</span>円<br>
					ご注文金額合計：<span id="total-price" th:text="${#numbers.formatInteger(session.totalPrice,2,'COMMA')}">38,000</span>円（税込）
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-offset-5 col-xs-3">
				<div class="form-group">
					<form action="order_confirm.html" th:if="${session.order}!=null">
						<input class="form-control btn btn-warning btn-block"
							type="submit" value="注文に進む">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- end container -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
